<form
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
  [formGroup]="ownerEditForm"
  (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="first name"
      [formControl]="firstName">
    <mat-hint>starting with</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="last name"
      [formControl]="lastName">
    <mat-hint>starting with</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="address"
      [formControl]="address">
    <mat-hint>containing</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="city"
      [formControl]="city">
    <mat-hint>starting with</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="telephone"
      [formControl]="telephone">
    <mat-hint>containing</mat-hint>
  </mat-form-field>
  <div>
    <button [disabled]="isLoading$ | async" type="submit" mat-raised-button color="primary">Submit</button>
  </div>
  <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
</form>
