<p>
  Owner Information
</p>

<div *ngIf="owner">

  <mat-list>
    <mat-list-item>First Name : {{owner.firstName}}</mat-list-item>
    <mat-list-item>Last Name : {{owner.lastName}}</mat-list-item>
    <mat-list-item>Address : {{owner.address}}</mat-list-item>
    <mat-list-item>City : {{owner.city}}</mat-list-item>
    <mat-list-item>Telephone : {{owner.telephone}}</mat-list-item>
  </mat-list>

  <button type="button" mat-raised-button color="primary" (click)="toOwnerEdit()">Edit Owner</button>
  <button type="button" mat-raised-button color="primary" (click)="toAddNewPet()">Add New Pet</button>
  <button type="button" mat-raised-button (click)="deleteOwner()">Delete Owner</button>

  <p>
    Pets and Visits
  </p>

  <div *ngFor="let pet of owner.pets">
    <mat-card class="pet-card mat-elevation-z8">
      <mat-card-header>
        <div mat-card-avatar [ngClass]="'pet-avatar pet-avatar-' + pet.type"></div>
        <mat-card-title>{{pet.name}}</mat-card-title>
        <mat-card-subtitle>{{pet.type}}</mat-card-subtitle>
        <mat-card-subtitle>{{pet.birthDate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="!hasVisits(pet)">No visits yet.</p>
        <table *ngIf="hasVisits(pet)" mat-table [dataSource]="pet.visits" class="mat-elevation-z8">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
              <a style="cursor: pointer;"  (click)="toEditVisit(pet, element)">
                <mat-icon>edit</mat-icon>
              </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" mat-raised-button color="primary" (click)="toEditPet(pet)">Edit Pet</button>
        <button type="button" mat-raised-button color="primary" (click)="toAddVisit(pet)">Add Visit</button>
        <button mat-raised-button>Delete Pet</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
