<form
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
  [formGroup]="petEditForm"
  (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="name"
      [formControl]="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="datePicker" placeholder="birthdate" [formControl]="birthday">
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="type" [formControl]="type">
      <mat-option *ngFor="let petType of petTypes" [value]="petType.id">
        {{petType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button [disabled]="isLoading$ | async" type="submit" mat-raised-button color="primary">Submit</button>
  </div>
  <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
</form>
{{backEndValidation.errorResponse | json}}
